<blockquote class="pull-right">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
    </p>
    <small>Someone famous <cite>Source Title</cite></small>
</blockquote>
<blockquote class="pull-right">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
    </p>
    <small>Someone famous <cite>Source Title</cite></small>
</blockquote>
<blockquote class="pull-right">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
    </p>
    <small>Someone famous <cite>Source Title</cite></small>
</blockquote>
<blockquote class="pull-right">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
    </p>
    <small>Someone famous <cite>Source Title</cite></small>
</blockquote>
<ul class="pagination">
    <li>
        <a href="#">Prev</a>
    </li>
    <li>
        <a href="#">1</a>
    </li>
    <li>
        <a href="#">2</a>
    </li>
    <li>
        <a href="#">3</a>
    </li>
    <li>
        <a href="#">4</a>
    </li>
    <li>
        <a href="#">5</a>
    </li>
    <li>
        <a href="#">Next</a>
    </li>
</ul>
