<div class="jumbotron ">
    <h2>
        <del>正在前往66号公路</del>
        欢迎到来!
    </h2>
    <p>
        这里的可逛的地方不多,仅仅有一些本人随性随笔,博大家一笑...
    </p>
    <p>
        这里的可逛的地方不多,仅仅有一些本人随性随笔,博大家一笑...
    </p>
    <p>
        <a class="btn btn-primary btn-large" routerLink="/about">更多关于博主</a>
    </p>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
            <img alt="300x200" src=""/>
            <div class="caption">
                <h3>
                    最新力作－－贪吃蛇大乱斗!
                </h3>
                <p>
                    首先,我们需要有一条蛇,一个食物,一张地图,一堆障碍物,然后我们得让他自己动起来!吃!吃!吃!
                </p>
                <p>
                    <a class="btn   btn-primary  " routerLink="/article/12">查看</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <img alt="300x200" src=""/>
            <div class="caption">
                <h3>
                    最新力作－－贪吃蛇大乱斗!
                </h3>
                <p>
                    首先,我们需要有一条蛇,一个食物,一张地图,一堆障碍物,然后我们得让他自己动起来!吃!吃!吃!
                </p>
                <p>
                    <a class="btn   btn-primary  " routerLink="/article/12">查看</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <img alt="300x200" src=""/>
            <div class="caption">
                <h3>
                    最新力作－－贪吃蛇大乱斗!
                </h3>
                <p>
                    首先,我们需要有一条蛇,一个食物,一张地图,一堆障碍物,然后我们得让他自己动起来!吃!吃!吃!
                </p>
                <p>
                    <a class="btn   btn-primary  " routerLink="/article/12">查看</a>
                </p>
            </div>
        </div>
    </div>
</div>